# Source: agent-stack-k8s/templates/rbac.yaml.tpl
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: agent-stack-k8s-controller
  namespace: buildkite
rules:
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - get
      - list
      - watch
      - create
      - update
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - pods/eviction
    verbs:
      - create
